body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(/src/img/3715c9cd9f8486e8d371be79339c8492.jpeg);
    background-size: contain;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

.texto{
    color: white;
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-right: 25px;
}

.texto h1{
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
}

.texto p{
    font-size: 15px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 340px;
    height: 378px;
    margin-left: 25px;
    padding: 0;
    border-radius: 3px;
}

input[id=nome], input[type=tel], input[type=email], select {
    width: 298.01px;
    height: 35.11px;
    border-radius: 5px;
    border: solid 1px black;
    margin-bottom: 15px;
    box-sizing: border-box;

}

.campo{
    margin: 15px 0 15px 0;
    font-size: 15px;
}

.mensagem-aviso{
    position: relative;
    top: 1px;
}

input[id=mensagem], select{
    border-radius: 5px;
    border: 1px solid black;
    width: 298.01px;
    height: 100px;
    box-sizing: border-box;
    margin-top: px;

}

input::placeholder{
    color: #A8A8A8;
    font-size: 15px;
    padding: 5px;
    font-weight: 600;
}

#mensagem::placeholder{
    position: relative;
    bottom: 32px;
}

.button{
    width: 298.01px;
    height: 41.13px;
    background-color: #3CCC87;
    color: #ffffff;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    margin-top: px;
}

.button:hover{
    cursor: pointer;
}

.erro{
    font-size: 8px;
    color: #F52E2E;
    width: 87%;
    height: 0;
    position: relative;
    bottom: 14px;
}